In [8]:
import pandas as pd

In [12]:


df = pd.read_csv('/home/jupyter-rohanp13/Final Project/main.csv')

df.head(20)

,ID,NAME,LATITUDE,LONGITUDE,STNELEV,Year,January,February,March,April,May,June,July,August,September,October,November,December
0,ACW00011604,SAVE,57.7667,11.8667,18.0,2011,-83.0,-132.0,278.0,1040.0,1213.0,1663.0,1875.0,1723.0,1466.0,987.0,721.0,428.0
1,ACW00011604,SAVE,57.7667,11.8667,18.0,2012,121.0,-98.0,592.0,646.0,1365.0,1426.0,1771.0,1748.0,1362.0,826.0,620.0,-234.0
2,ACW00011604,SAVE,57.7667,11.8667,18.0,2013,-104.0,-93.0,-48.0,595.0,NaN,1612.0,1855.0,1802.0,1359.0,1042.0,601.0,NaN
3,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,34.0,2011,1950.0,2060.0,2280.0,2760.0,3240.0,3447.0,3580.0,3650.0,3316.0,2940.0,2390.0,1905.0
4,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,34.0,2012,1837.0,1987.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,34.0,2013,NaN,NaN,NaN,2797.0,3095.0,3343.0,3664.0,3599.0,3414.0,2978.0,2492.0,2106.0
6,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,34.0,2014,1845.0,1943.0,2353.0,2895.0,3242.0,3420.0,3636.0,3591.0,3377.0,NaN,2497.0,2099.0
7,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,34.0,2015,1916.0,2221.0,2352.0,2790.0,3291.0,3503.0,3688.0,3668.0,3312.0,3039.0,2633.0,2111.0
8,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,34.0,2016,1963.0,2019.0,2400.0,2637.0,3222.0,3392.0,3631.0,3661.0,3349.0,2972.0,2523.0,2191.0
9,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,34.0,2017,2052.0,1983.0,2398.0,2895.0,3235.0,3527.0,3727.0,3630.0,3318.0,3007.0,2500.0,2035.0
10,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,34.0,2018,1887.0,2097.0,2382.0,2911.0,3259.0,3483.0,3670.0,3564.0,3411.0,3000.0,2531.0,2149.0
11,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,34.0,2019,2051.0,2038.0,2224.0,2787.0,3161.0,3538.0,3610.0,3594.0,3375.0,3024.0,2358.0,2143.0
12,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,34.0,2020,1888.0,2058.0,2296.0,2834.0,3217.0,3502.0,3687.0,3620.0,3441.0,2980.0,NaN,NaN
13,AEM00041184,RAS_AL_KHAIMAH_INTE,25.6170,55.9330,31.0,2011,1990.0,2095.0,2382.0,2860.0,3350.0,3621.0,3680.0,3655.0,3411.0,3021.0,2441.0,1985.0
14,AEM00041184,RAS_AL_KHAIMAH_INTE,25.6170,55.9330,31.0,2012,1875.0,2043.0,2368.0,2781.0,3397.0,3492.0,3746.0,3638.0,3386.0,2934.0,2511.0,2108.0
15,AEM00041184,RAS_AL_KHAIMAH_INTE,25.6170,55.9330,31.0,2013,1897.0,2035.0,2331.0,2759.0,3126.0,3405.0,3678.0,3599.0,3363.0,2985.0,2416.0,1988.0
16,AEM00041194,DUBAI_INTL,25.2550,55.3640,10.4,2011,2112.0,2162.0,2390.0,2896.0,3307.0,3465.0,3656.0,3641.0,3441.0,3090.0,2598.0,2136.0
17,AEM00041194,DUBAI_INTL,25.2550,55.3640,10.4,2012,2017.0,2115.0,2397.0,2839.0,3384.0,3439.0,3765.0,3663.0,3493.0,3133.0,2710.0,2277.0
18,AEM00041194,DUBAI_INTL,25.2550,55.3640,10.4,2013,2089.0,2174.0,2457.0,2859.0,3112.0,3320.0,3674.0,3637.0,3409.0,3072.0,2631.0,2241.0
19,AEM00041194,DUBAI_INTL,25.2550,55.3640,10.4,2014,1979.0,2051.0,2425.0,2922.0,3257.0,3420.0,3615.0,3600.0,3416.0,3183.0,2616.0,2256.0

In [15]:
avg_temp = df[['ID', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']].groupby('ID').mean()

avg_temp[['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']] = avg_temp[['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']]/100


avg_temp.head(10)

,January,February,March,April,May,June,July,August,September,October,November,December
ID,,,,,,,,,,,,
ACW00011604,-0.220000,-1.076667,2.740000,7.603333,12.890000,15.670000,18.336667,17.576667,13.956667,9.516667,6.473333,0.970000
AE000041196,19.321111,20.451111,23.356250,28.117778,32.180000,34.616667,36.547778,36.196667,33.681111,29.925000,24.905000,20.923750
AEM00041184,19.206667,20.576667,23.603333,28.000000,32.910000,35.060000,37.013333,36.306667,33.866667,29.800000,24.560000,20.270000
AEM00041194,20.878000,21.740000,24.404000,28.966000,32.896000,34.936000,37.131000,36.882000,34.742000,31.337000,26.616000,22.710000
AEM00041216,20.273333,21.130000,23.956667,28.583333,33.066667,34.073333,36.870000,36.780000,34.853333,30.693333,26.193333,21.743333
AEM00041217,20.054286,21.182857,24.147500,29.460000,33.247500,35.052500,37.400000,37.363750,35.208750,31.140000,26.037143,21.737143
AEM00041218,18.913000,20.546000,24.199000,29.362000,33.816000,36.191000,37.828000,37.420000,34.927000,30.456000,24.895000,20.634000
AFM00040938,5.759000,6.945000,12.795000,18.317000,24.862000,29.745000,31.424000,29.176000,24.652000,17.455000,9.685000,6.230000
AFM00040948,1.190000,3.023000,9.043000,15.043000,20.291000,25.354000,27.583000,26.330000,22.854000,16.076000,8.004000,4.091000
AFM00040990,7.386250,9.232500,15.967500,22.178750,27.608750,32.177500,33.742500,31.761250,26.626250,20.167500,13.325714,8.331667