In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error, mean_absolute_error 
from sklearn import preprocessing

In [ ]:
#loading in the df
df = pd.read_csv("data\TotalPrecipoutFINALFINAL.csv")

<>:1: SyntaxWarning: invalid escape sequence '\T'
<>:1: SyntaxWarning: invalid escape sequence '\T'
C:\Users\alpagar\AppData\Local\Temp\ipykernel_27540\2069099100.py:1: SyntaxWarning: invalid escape sequence '\T'
  df = pd.read_csv("data\TotalPrecipoutFINALFINAL.csv")
C:\Users\alpagar\AppData\Local\Temp\ipykernel_27540\2069099100.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data\TotalPrecipoutFINALFINAL.csv")

In [30]:
#Filtering and setting up df

#only keeping data from 2000's and up
df = df[df["4 digit year and 2 digit month"] >= 200000.0]

indices = []

for index,row in df.iterrows():
    if " " in row.to_list():
        indices.append(index)

df.drop(index =indices)

#converting station name to hashed integer for easier training
df["NumericName"] = df["Station name"].apply(hash)

#Adding month
df["2_Digit_Month"] = df["4 digit year and 2 digit month"].apply(lambda x: x % 100)

In [36]:

correlationdf = df[["Latitude", "Longitude", "Precipitation value (tenths of a millimeter)", "Elevation (meters)","4 digit year and 2 digit month", "NumericName", "2_Digit_Month"]]
correlationdf.corr(method="pearson")

,Latitude,Longitude,Precipitation value (tenths of a millimeter),Elevation (meters),4 digit year and 2 digit month,NumericName,2_Digit_Month
Latitude,1.000000,-0.713220,0.023062,0.127998,0.126590,-0.000895,0.000665
Longitude,-0.713220,1.000000,-0.035726,-0.283518,-0.147962,-0.000704,-0.000661
Precipitation value (tenths of a millimeter),0.023062,-0.035726,1.000000,-0.142147,0.041330,0.001769,0.018335
Elevation (meters),0.127998,-0.283518,-0.142147,1.000000,-0.021462,0.001126,-0.000382
4 digit year and 2 digit month,0.126590,-0.147962,0.041330,-0.021462,1.000000,0.004605,-0.009832
NumericName,-0.000895,-0.000704,0.001769,0.001126,0.004605,1.000000,0.000089
2_Digit_Month,0.000665,-0.000661,0.018335,-0.000382,-0.009832,0.000089,1.000000

In [38]:
#since correlation df has all the columns we want lets use it for splitting
train = correlationdf.sample(frac=.9)
test = correlationdf.drop(index=train.index)


X_train = train.drop(columns="Precipitation value (tenths of a millimeter)")
y_train = train["Precipitation value (tenths of a millimeter)"]

X_test = test.drop(columns="Precipitation value (tenths of a millimeter)")
y_test = test["Precipitation value (tenths of a millimeter)"]

In [43]:
lr = LinearRegression(fit_intercept=False)
lr.fit(X_train, y_train)
print(lr.score(X_train, y_train))
print(lr.score(X_test, y_test))

0.00024501157950218566
0.00023490770524481341